body {
    font-family: 'Open Sans',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
    text-align: center;
}

button {
    padding: 0 16px;
    margin: 11px 4px;
}

footer {
    position: absolute;
    bottom: 0;
}

.header {
    right: 0;
    position: absolute;
}

.browser {
    padding: 10%;
}